* {
    margin: 0;
  }
  
body,
html {
  height: 100%;
}

body {
  background: linear-gradient(135deg, #e4efe9 0%, #7db9e8 100%);
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
}

.site-wrap {
  margin-bottom: -35px;
  min-height: 100%;
}

#demo-header {
  text-align: center;
}

#demo-footer {
  height: 35px;
}

#main_content {
  padding-bottom: 50px;
  clear: both;
}

#demo-footer nav {
  background-color: #666;
  text-align: right;
}

#demo-header nav {
  text-align: left;
  background-color: #efefef;
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

#demo-footer ul,
#demo-header ul {
  list-style: none;
  padding: 7px 5px 0;
  max-width: 1280px;
  margin: auto;
}

#demo-footer li,
#demo-header li {
  display: inline-block;
}

#demo-footer a,
#demo-header a {
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 0;
}

.inner {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

#debug-wrap {
  display: none;
  text-align: left;
}

#debug-wrap.open {
  display: block;
  background: rgba(75, 75, 75, 0.75);
}

.debug-window {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#debug-wrap .debug-type {
  width: 33%;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  padding: 20px;
}

.form-rendered .build-form {
  display: none;
}

.render-form {
  display: none;
  max-width: 800px;
  margin: auto;
}

.form-rendered .render-form {
  display: block;
}

.render-btn-wrap {
  text-align: center;
}

#control-filter {
  line-height: 1em;
}

.preview {
    display: initial;
}

.index-content{
  text-align: center;
  line-height: 50px;

}

h1{
  font-size: 50px;
  font-weight:bold;  
}

h2{
  font-size: 30px;
  font-style: italic;

}

h3{
  font-size: 25px;
  
  font-weight:bold;
}

.home-paragraph{
  font-size: 20px;
}

.home-table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}

.home-table{
  margin-left:auto; 
  margin-right:auto;
}

.home-table th{
  width: 300px;
  
}

/* CSS FOR BUTTON */
/* .hidden{
  visibility: hidden;
} */

/* BULK OPTIONS POP UP */

#pop-window {
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto;
  z-index: 100000000;
  }


div#popup-options {
  position:absolute;
  left:50%;
  top:17%;
  margin-left:-202px;
  font-family:'Raleway',sans-serif
  }


#popup-form {
  max-width:300px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid gray;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff
  }

#pop-title {
  background-color:#edfffa;
  padding:20px 35px;
  margin:-10px -50px;
  text-align:center;
  border-radius:10px 10px 0 0;
  font-size: 30px;
}

#pop-instruct{
  font-weight: bolder;
  font-size: 15px;
}

hr {
  margin:10px -50px;
  border:0;
  border-top:1px solid #ccc
}


#pop-textarea {
  
  width:100%;
  height:95px;
  padding:10px;
  resize:none;
  margin-top:30px;
  border:1px solid #ccc;
  /* padding-left:40px; */
  font-size:16px;
  font-family:raleway;
  margin-bottom:30px
}

#bulk-submit {
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#00b7ff;
  color:#fff;
  border:1px solid #00b7ff;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  border-radius:5px
}

#bulk-cancel {
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#ff3300;
  color:#fff;
  margin-top: 5px;
  border:1px solid #ff3300;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  border-radius:5px
}