{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="main_content" class="inner">

    <form id="form_saver" method="POST" action="/formprocessor/">
        {% csrf_token %}
        <label for="form_name">Form Name: </label>
        <input id="form_name" name=form_name>
        <input id="form_data_input" type="hidden" name=form_data>
    </form>

    <form class="build-form clearfix"></form>
    <div id="pop-window">
        <div id="popup-options">
            <form id="popup-form" action="">
                <p id="pop-title">Insert Options Here</p>
                <hr>
                <p id="pop-instruct">Enter each option choice on a separate line. </p>
                <textarea name="options" id="pop-textarea" cols="30" rows="10"></textarea>

                <a id="bulk-submit" onclick="uploadOptions()">Bulk Upload</a>
                <a id="bulk-cancel" onclick="popHide()">Cancel</a>

            </form>
        </div>
    </div>
    <div id="render-area" class="render-form"></div>
</section>
<div class="container render-btn-wrap">
    <button id="goHomeBtn" class="btn btn-default">Go Back to Home</button>
    <button id="renderForm" class="btn btn-default">Preview Form</button>
    <button id="viewData" class="btn btn-default">console.log Data</button>
    <button id="reloadBtn" class="btn btn-default">Reset Editor</button>
</div>

<footer id="demo-footer">
    <nav>
        <ul>
            <li>
                <a href="https://js.org" target="_blank" title="JS.ORG | JavaScript Community">
                </a>
            </li>
        </ul>
    </nav>
</footer>
<script type="text/javascript" src="{% static '/formprocessor/js/formeo.min.js' %}"></script>
<script type="text/javascript" src="{% static '/formprocessor/js/demo.js' %}"></script>
<script type="text/javascript" src="{% static '/formprocessor/js/bulkoptions.js' %}"></script>
{% endblock %}